<!DOCTYPE html>
<html>
<head>
    <title>Browser Page title</title>
</head>

<body>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")

    <script src="~/Scripts/weather.js"></script>
    <script src="~/Scripts/facebook.js"></script>

    <audio autoplay="">
        <source src="~/assets/audio/sound.mp3" type="audio/mpeg" />
    </audio>

    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />

    <header class="siteHeader">
        <div class="leftSide">
            <p>Movie Blog</p>
            <div class="fb-follow" data-href="https://www.facebook.com/Shauli-118833822143038/" data-layout="button" data-size="small" data-show-faces="true"></div>
            <div class="fb-like" data-href="https://www.facebook.com/Shauli-118833822143038/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            
        </div>

        <div class="rightSide">
            <div class="weatherHeader" style="color:white; background-color:#428bca">
                <span id="name" style="font-size: 18px; padding-right:15px;"></span>
                <div class="fa fa-thermometer-full"></div>
                <span id="temp" style="font-size: 14px;padding-right:5px;"></span>
                <span class="fa fa-tint"></span>
                <span id="humidity" style="font-size: 14px;"></span><span>%</span>
            </div>
            @if (Session["UserName"] != null)
            {
                if (((ShauliBlog.Models.Account)Session["User"]).IsAdmin)
                {
                    <h4> Admin</h4>
                }
                else
                {
                    string uName = @Session["UserName"].ToString();
                    <h4>Hello @Html.ActionLink(uName, "Details", "Account", new { id = Session["UserID"] }, null)</h4>
                }
                <h5>@Html.ActionLink("LogOut", "LogOut", "Account")</h5>
            }
        </div>
    </header>
    @if (Session["UserName"] != null)
    {
        <nav class="grad">
            <!-- Navigation -->
            <ul id="transDemo2">

                <li>@Html.ActionLink("Blog", "Index", "Post")</li>
                <li>@Html.ActionLink("FanClub", "Index", "Fans")</li>
                <li>@Html.ActionLink("Movies", "Index", "Movie")</li>

                @if (((ShauliBlog.Models.Account)Session["User"]).IsAdmin)
                {
                    <li>@Html.ActionLink("BlogManagment", "Index", "Post")</li>
                    <li>@Html.ActionLink("AccountManagment", "Index", "Account")</li>
                }
                <li class="subscribe" id="rss"><a href="#"><img src="~/images/rss.png" />Subscribe via. RSS</a></li>
            </ul>
        </nav>
    }
    @if (Session["UserName"] == null)
    {
        <nav class="grad">
            <ul id="transDemo2">
                <li>@Html.ActionLink("LogIn", "Login", "Account")</li>
            </ul>
        </nav>
    }

    <section id="intro" class="grad">
        <!-- Introduction -->

        <header>
            <h2>Do you have questions for me?</h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
        <img alt="Shauli" src="~/images/intro_shauli.png">
    </section>

    <img src="~/Post/Index" />

    <div id="content">
        <div id="mainContent">
            <section>
                @RenderBody()

            </section>
        </div>
    @if (Session["UserName"] != null)
    {
        <aside>
            <section>
                <header>
                    <h3>Join Queries</h3>
                </header>
                <ul>
                    <li><a href="~/Home/JoinQueryCommentsPosts">Join comments with posts</a></li>
                    <li><a href="~/Home/JoinQueryPostCat">Join posts with genres</a></li>
                    <li><a href="~/Home/JoinQueryPostMovie">Join posts with movies</a></li>
                </ul>
            </section>
        </aside>
    }
        
        
    </div>


    <footer>
        <div>
            <section id="about">
                <header>
                    <h3>About</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la</p>
            </section>
            <section id="blogroll">
                <header>
                    <h3>Blogroll</h3>
                </header>
                <ul>
                    <li><a href="#">NETTUTS+</a></li>
                    <li><a href="#">FreelanceSwitch</a></li>
                </ul>
            </section>
            <section id="popular">
                <header>
                    <h3>Popular</h3>
                </header>
                <ul>
                    <li><a href="#">This is the title of a blog post</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Consectetur adipisicing elit, sed do eiusmod</a></li>
                </ul>
            </section>

        </div>

    </footer>
    @*@RenderSection("scripts", required: false)*@

    <script>
        //function initMap() {
        //    var startMap = { lat: -25.363, lng: 131.044 };
        //    var map = new google.maps.Map(document.getElementById('map'), { zoom: 4, center: startMap });
        //    var marker = new google.maps.Marker({ position: startMap, map: map });
        //    var marker = new google.maps.Marker({ position: { lat: -25.363, lng: 151.044 }, map: map });

        //    //initialize();
        //}

    </script>

    <script src="~/Scripts/googleApiHandler.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRchDroNLe-ud1nMkDSYOb8gmUrB_LJUM&language=en&callback=initMap&libraries=places"></script>
    <script src="~/Scripts/geoLocator.js"></script>
    <script src="~/Scripts/autoComplete.js"></script>

    <div class="row">
        <div class="col-md-3">
            @*<script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>*@
            <div>
            <div id="fb-root"></div>

            </div>
        </div>
    </div>
</body>
</html>