@model ShauliBlog.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@{
//List<SelectListItem> GenreItems = new List<SelectListItem>();
//GenreItems.Add(new SelectListItem
//{
//    Text = "Tech",
//    Value = "1",
//    //Selected = true
//});
//GenreItems.Add(new SelectListItem
//{
//    Text = "Science",
//    Value = "2",
//});
//GenreItems.Add(new SelectListItem
//{
//    Text = "Culture",
//    Value = "3",
//});



//ViewBag.GenresIds = new SelectList(GenreItems, "")
}


@using (Html.BeginForm("Create", "Post", FormMethod.Post,
                              new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*<form action="/Post/Create/" method="post" enctype="multipart/form-data">*@
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PostTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.PostAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostAuthor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostAuthor, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.PostAuthorWebsite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostAuthorWebsite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostAuthorWebsite, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.PostText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenreId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*"-- Select Genre --",*@
                @Html.DropDownListFor(model => model.GenreId, (SelectList)ViewBag.GenreItems, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.PostPicturePath, htmlAttributes: new { type = "file", @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostPicturePath, new { htmlAttributes = new { type = "file", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostPicturePath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostVideoPath, htmlAttributes: new { type = "file", @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostVideoPath, new { htmlAttributes = new { type = "file", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostVideoPath, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.PostPicturePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="checkbox" id="ImageCheck" />
                <span id="hiddenImage">
                    <input name="image" type="file" />
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostVideoPath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="checkbox" id="VideoCheck" />
                <span id="hiddenVideo">
                    <input name="video" type="file" />
                </span>
            </div>
        </div>

        @Html.HiddenFor(model => model.AccountId, new { Value = Session["UserId"]})       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    @*</form>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/PostCreate.js" type="text/javascript"></script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
