@model ShauliBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.UserName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PostAuthorWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostAuthorWebsite)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.PostText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostPicturePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostPicturePath)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.PostVideoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostVideoPath)
        </dd>

    </dl>
</div>

@foreach (var item in Model.PostComments)
{
    <br />
    <b>Song:</b>@Html.DisplayFor(modelItem=>item.CommentTitle)
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
